<script type="text/template" id="DiaryWrapper-template">
    <div class="row">
        <div id="add" class="col-xs-12">
            <div class="pull-right">
                <a href="#" class="btn btn-primary pull-right datepicker" data-date-format="yyyy-mm-dd" data-date="2012-02-20">
                    Add another day <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
        <div id="diary" class="col-xs-12"></div>
    </div>
</script>

<script type="text/template" id="Diary-template">
fudge
</script>

<script type="text/template" id="DiaryRow-template">
    <div class="row">
        <div class="col-xs-12">
            <%= data.date %>
        </div>
    </div>
</script>

<script type="text/template" id="DiaryRowTime-template">
    <div class="time-hour <%= data.state %>">
        <%= data.displayTime %>
    </div>
</script>
