<script type="text/template" id="Day-summary-template">

    <div class="row">
        <div class="col-xs-3">
            <small>Total Time Slept : <%= data.timeSlept %></small><br />
            <small>Total Time Dozing : <%= data.timeDozing %></small>
            <br /><br />
        </div>
        <div class="col-xs-3">
            <a href="/edit/<%= data.id %>"><i class="fa fa-pencil-square-o fa-2x"></i> Edit</a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="time-container"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <hr />
        </div>
    </div>

</script>

<script type="text/template" id="DiaryWrapper-template">

    <div class="row">
        <div class="col-xs-12">
            <p class="lead">Hi, you have reached your diary page.</p>
            <p>
                From here you can view a summary of your recorded sleep times. You can also add new days to your
                sleep diary. To create a new day record click on the "add another day" button at right.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 error-container"></div>
        <hr />
    </div>
    <div class="row">
        <div class="col-xs-3">
            <p class="lead">My records :</p>
        </div>
        <div class="col-xs-9 stats"><!-- average sleep time goes here... --></div>
    </div>
    <div class="row">
        <div id="add" class="col-xs-12">
            <div class="pull-right">
                <a href="#" class="btn btn-primary pull-right datepicker" data-date-format="yyyy-mm-dd">
                    Add another day <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="pull-right pagination">
                <i class="prev-page fa fa-arrow-circle-o-left"></i>
                Page <%= data.currPage %> of <%= data.totalPages %>
                <i class="next-page fa fa-arrow-circle-o-right"></i>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12" id="diary"></div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="pull-right pagination">
                <i class="prev-page fa fa-arrow-circle-o-left"></i>
                Page <%= data.currPage %> of <%= data.totalPages %>
                <i class="next-page fa fa-arrow-circle-o-right"></i>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="UpdateDay-template">
    <div class="row">
        <div class="col-xs-12">
            <a href="/my_diary">
                <i class="fa fa-arrow-left"></i>
                 Back to summary view
                <br />
                <br />
                <br />
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p>
                Edit your sleep times for <b><span class="text-uppercase"><%= data.date %> : </span></b>
                <br />
                Click on the squares to indicate when you slept. <code>CLICK + DRAG</code> to select multiple
                squares at once, or <code>SHIFT + CLICK</code> on the squares to indicate you were "DOZING." The
                system will remember your selections instantly.
            </p>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2 date-container">
            <i class="fa fa-check-circle hidden text-success"></i>
            <%= data.date %>
        </div>
        <div class="col-xs-10 total-sleep text-success"></div>
    </div>
    <div class="row">
        <div class="col-xs-12"><br /></div> <!-- This is a spacer for the time-raised-text -->
    </div>
    <div class="row">
        <div class="col-xs-12 cell-container"></div>
    </div>
</script>

<script type="text/template" id="DiaryRowTime-template">
    <div class="time-hour <%= data.state %> <%= data.displayWritable ? '' : 'time-hour-read-only' %>">
        <%= data.displayTime %>
        <% if (data.time === '12:00am' || data.time === '12:00pm') { %>
            <p class="time-raised-text"><%= data.time === '12:00am' ? 'Midnight' : 'Noon' %></p>
        <% } %>
    </div>
</script>
