<script type="text/template" id="DiaryWrapper-template">

    <div class="row">
        <div class="col-xs-12">
            <p class="lead">Hi, you have reached the diary page.</p>
            <p>
                From here you can create new day records and record your sleep times. To create a new day record
                click on the "add another day" button at right. The day will appear and you can click on the squares
                to indicate when you slept. Click and drag to select multiple squares at once, or
                <code>SHIFT + CLICK</code> on the squares to indicate you were "DOZING." The system will remember your
                selections instantly.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 error-container"></div>
    </div>
    <div class="row">
        <div id="add" class="col-xs-12">
            <div class="pull-right">
                <a href="#" class="btn btn-primary pull-right datepicker" data-date-format="yyyy-mm-dd" data-date="2012-02-20">
                    Add another day <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
        <div id="diary" class="col-xs-12"></div>
    </div>
</script>

<script type="text/template" id="Diary-template">
fudge
</script>

<script type="text/template" id="DiaryRow-template">
    <div class="row">
        <div class="col-xs-12">
            <%= data.date %>
        </div>
    </div>
</script>

<script type="text/template" id="DiaryRowTime-template">
    <div class="time-hour <%= data.state %>">
        <%= data.displayTime %>
    </div>
</script>
