<!-- BBC.CollectionAddView template: -->
<script type="text/template" id="collection-add-template" data-varName="config">
    <div class="row">
        <div class="span12">
            <label><strong><%= config.label %></strong></label>
            <div class="col-add-sub-container"></div>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <a href='#' class="collection-add-new"><%= config.addText ? config.addText : 'Add New' %> <i class="fa fa-plus"></i></a>
        </div>
    </div>
</script>

<!-- Delete icon for each sub-view of the template : -->
<script type="text/template" id="collection-add-delete-icon">
    <i class="fa fa-trash-o pull-right"></i>
</script>

<!-- Basic row container for each sub that gets added to the collection add view: -->
<script type="text/template" id="collection-add-row-container">
    <div class="row">
        <div class="span1">
            <div class="col-add-trash pull-left"></div>
        </div>
        <div class="span11">
            <div class="col-add-input pull-left"></div>
        </div>
    </div>
</script>
