<!-- Form input - control style : -->
<script type="text/template" id="form-control-input-template" data-varName="config">
    <label class="control-label"><strong><%= config.label %></strong></label>
    <div class="controls">
        <input type="text" name="<%= config.attribute %>" placeholder="<%= config.currentValue %>"
               value="<%= config.currentValue ? config.currentValue : '' %>">
    </div>
</script>

<!-- Form textarea - control style : -->
<script type="text/template" id="form-control-textarea-template" data-varName="config">
    <label class="control-label"><strong><%= config.label %></strong></label>
    <div class="controls">
        <textarea name="<%= config.attribute %>" placeholder="<%= config.currentValue %>"><%= config.currentValue %></textarea>
    </div>
</script>

<!-- Form password - control style : -->
<script type="text/template" id="form-control-password-template" data-varName="config">
    <label class="control-label"><strong><%= config.label %></strong></label>
    <div class="controls">
        <input type="password" name="<%= config.attribute %>" placeholder="<%= config.currentValue %>">
    </div>
</script>

<!-- Form select - control style : -->
<script type="text/template" id="form-control-select-template" data-varName="config">
    <label class="control-label"><strong><%= config.label %></strong></label>
    <div class="controls">
        <select>
            <% if (typeof config.placeholder === 'string') {%>
            <option><%= config.placeholder %></option>
            <% } %>
            <% _.each(config.options, function (opt) { %>
            <option value="<%= opt.value %>"><%= opt.name %></option>
            <% }); %>
        </select>
    </div>
</script>

<!-- Form Submit Button - control style : -->
    <script type="text/template" id="form-control-submit-template" data-varName="config">
    <div class="controls">
        <input class='btn submit' type='submit' name='<%= config.text %>' value='<%= config.text ? config.text : "Submit" %>' />
    </div>
</script>


<!-- START NON-CONTROL STYLE TEMPLATES ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
<!-- Form input: -->
<script type="text/template" id="form-input-template" data-varName="config">
    <div class="span12">
        <div>
            <label><strong><%= config.label %></strong></label>
        </div>
        <div>
            <input type="text" name="<%= config.attribute %>" placeholder="<%= config.currentValue %>"
                   value="<%= config.currentValue ? config.currentValue : '' %>">
        </div>
        <br />
    </div>
</script>

<!-- Form textarea: -->
<script type="text/template" id="form-textarea-template" data-varName="config">
    <div class="span12">
        <div>
            <label><strong><%= config.label %></strong></label>
        </div>
        <div>
            <textarea name="<%= config.attribute %>" placeholder="<%= config.currentValue %>"><%= config.currentValue %></textarea>
        </div>
        <br />
    </div>
</script>

<!-- Form password: -->
<script type="text/template" id="form-password-template" data-varName="config">
    <div class="span12">
        <div>
            <label><strong><%= config.label %></strong></label>
        </div>
        <div>
            <input type="password" name="<%= config.attribute %>" placeholder="<%= config.currentValue %>">
        </div>
        <br />
    </div>
</script>

<!-- Form select: -->
<script type="text/template" id="form-select-template" data-varName="config">
    <div class="span12">
        <div>
            <label><strong><%= config.label %></strong></label>
        </div>
        <div>
            <select>
                <% if (typeof config.placeholder === 'string') {%>
                <option><%= config.placeholder %></option>
                <% } %>
                <% _.each(config.options, function (opt) { %>
                <option value="<%= opt.value %>"><%= opt.name %></option>
                <% }); %>
            </select>
        </div>
        <br />
    </div>
</script>

<!-- Form Submit Button: -->
<script type="text/template" id="form-submit-template" data-varname="config" data-varName="config">
    <div class="span12">
        <input class='btn submit' type='submit' name='<%= config.text %>' value='<%= config.text ? config.text : "Submit" %>' />
    </div>
</script>
