.container {
    min-width : 1170px;
}

.time {
    overflow : visible;
    color : #919191;
    font-size: 10px;
    float : left;
    height : 30px;
    width: 11px;
    margin-top : 2px;
    margin-bottom : 2px;
}

.time-raised-text {
    position: relative;
    top : -30px;
}

.time:nth-child(4n+1) {
    margin-left : 3px;
}
.time:last-of-type {
    margin-right: 3px;
}

.time-hour {
    overflow: visible;
    width : 100%;
    height : 100%;
}

.time-ampm {
    float: left;
    padding-right: 5px;
}

.time-container {
    float: left;
    border : 1px solid #F5F5F5;

    /*Prevent text from being highlighted on drag over*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.diary-row {
    margin-bottom: 15px;
}

.time-hour.AWAKE {
    /*background-color: #F5F5F5;*/
    background-color: #F7F7F7;
}
.time-hour.ASLEEP {
    background-color: #D9EDF7;
}
.time-hour.ASLEEP.time-hour-read-only {
    background-color: #BBB;
}
.time-hour.DOZING {
    /*background-color: #FCF8E3;*/
    background-color: #FCF6D4;
}

#footer {
    background-color: #FDFDFD;
    border-top: 1px solid #F7F7F7;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

#footerSpacer {
    height : 50px;
}